.herosection {
    height: 100vh;
    min-height: 600px;
    background: linear-gradient(180deg, rgba(0, 102, 255, 0.2) 0%, rgba(0, 102, 255, 0) 100%);
    padding-top: 110px;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: 24px;
        line-height: 100%;
    }

    p {
        margin: 0;
        font-size: 24px;
        line-height: 130%;
        font-weight: 400;
    }
}

.herosection__imgwrap {
    position: relative;
    text-align: right;

    .hero-illustration {}
}

.hero-bgel1 {
    position: absolute;
    left: -30px;
    top: 42%;
    animation: moveLeftLeft 5s infinite;
}

.hero-bgel2 {
    position: absolute;
    left: 7%;
    top: 57%;
    animation: moveLeftLeft 5s infinite;
    animation-delay: 0.2s;
}

.hero-bgel3 {
    position: absolute;
    left: -15px;
    bottom: 47px;
    width: 14px;
    animation: moveLeftLeft 5s infinite;
}

.hero-bgel4 {
    position: absolute;
    right: 22%;
    top: -45px;
    animation: moveLeftLeft 5s infinite;
}

.hero-bgel5 {
    position: absolute;
    right: -15px;
    bottom: 30%;
    animation: moveLeftLeft 5s infinite;
    animation-delay: 0.2s;
}

@keyframes moveLeftLeft {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}





.services {
    padding: 30px 0 130px;

    h2 {
        margin-bottom: 60px;
    }
}

.service-item {
    border-radius: 10px;
    border: 1px solid $blue;
    padding: 50px 25px 25px;
    min-height: 400px;
    text-align: center;
    background: $light-blue;

    img {
        height: 80px;
        margin-bottom: 20px;
    }

    h3 {
        color: $dark-gray;
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 20px;
        font-weight: 600;

        &::after {
            content: '';
            display: inline-block;
            height: 1px;
            max-width: 96px;
            width: 100%;
            background: $blue;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}

.about {
    padding: 30px 0 100px;
}

.about-content {
    border: 2px solid rgba(#0C4C73, 0.5);
    border-radius: 10px;
    padding: 100px 0 54px 80px;
    position: relative;
    overflow: hidden;

    &::after,
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
    }

    &::before {
        background: rgba(#0575E6, 0.4);
        left: 0;
        bottom: 0;
        height: 70%;
        width: 40%;
        filter: blur(150px);
        left: -12%;
        bottom: -12%;

    }

    &::after {
        background: rgba(#0C4C73, 0.3);
        right: -25%;
        top: -35%;
        width: 50%;
        height: 80%;
        filter: blur(200px);
    }

    .description {
        position: relative;
        z-index: 5;
        max-width: 66%;

        h3 {
            margin-bottom: 12px;
            font-weight: 600;
        }

        .subtitle {
            color: rgba(#333, 0.8);
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 140%;
        }

        p {
            font-size: 22px;
            line-height: 150%;
            margin: 0;

        }


    }

    .aboutimg {
        position: absolute;
        bottom: 0;
        right: 2%;
        max-width: 44%;
        max-height: 100%;
    }

    .soclink {
        position: absolute;
        width: 52px;
        right: 20px;
        bottom: 20px;
        z-index: 4;
    }
}

.about-content__wrapper {
    position: relative;

    .arrowimg {
        position: absolute;
        left: 114px;
        top: -122px;
        width: 137px;
    }

}

.outcomes {
    padding: 30px 0 100px;

    h2 {
        margin-bottom: 36px;
    }
}

.outcomes-col {
    width: 100%;
    max-width: 20%;
    flex: 0 0 20%;
}

.outcomes-item {
    background: $blue;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
    min-height: 337px;
    text-align: center;


    img {
        height: 40px;
        margin-bottom: 20px;
    }

    p {
        color: #fff;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 140%;
        min-height: 51px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .largetext {
        font-size: 58px;
        line-height: 100%;
        font-weight: 700;
        font-family: "Playfair", serif;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-variant-numeric: lining-nums;

        span {
            font-family: "Playfair Display", serif;
        }
    }
}

.contactus {
    padding: 30px 0 14px;
    position: relative;
    z-index: 1;


}

.contactus__form {
    border-radius: 10px;
    border: 1px solid $blue;
    padding: 40px;
    background: #fff;
    position: relative;
    z-index: 2;

    .borderbtn {
        margin-top: 20px;
    }
}

.inputfield {
    margin-top: 24px;

    &:first-child {
        margin-top: 0;
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #586166;
        font-size: 18px;
        line-height: 140%;

        span {
            color: #F21D2F;
        }
    }

    input {
        width: 100%;
        height: 54px;
        background: $light-blue;
        border-radius: 6px;
        font-size: 16px;
        padding-left: 15px;
        border: 1px solid $light-blue;
        transition: 0.3s;

        &:focus {
            border-color: $blue;
        }
    }

    textarea {
        width: 100%;
        height: 93px;
        background: $light-blue;
        border-radius: 6px;
        font-size: 16px;
        padding-left: 15px;
        border: 1px solid $light-blue;
        transition: 0.3s;
        outline: none;
        padding-top: 10px;
        resize: none;

        &:focus {
            border-color: $blue;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: $blue;
        }
    }

    .error-text {
        margin: 8px 0 0 0;
        color: #FF383C;
        display: none;
    }

    &.error {
        .error-text {
            display: block;
        }

        input,
        textarea {
            border: 1px solid #FF383C;
        }
    }
}

.contactus__img {
    width: 100%;
}

.contactus__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;

    h2 {
        margin-bottom: 0;
    }
}


.form-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
    font-size: 22px;
    color: $dark-gray;
    line-height: 130%;
    font-weight: 600;
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 5px;
}

.error-notification {
    background: rgba(#FFCC00, 0.2);
    border: 2px solid #FFCC00;

}

.success-notification {
    background: rgba(#27C840, 0.2);
    border: 2px solid #34C759;
}

.sm-title {
    display: none;
}


@media(max-width:1599.8px) {

    .service-item {
        padding: 50px 15px 15px;
    }

    .about-content .description {
        max-width: 64%;
    }

    .outcomes-item .largetext {
        font-size: 54px;
    }

    .form-notification {
        min-height: 50px;
        font-size: 18px;
        font-weight: 600;
    }

}

@media(max-width:1399.8px) {
    .herosection h1 {
        margin-bottom: 15px;
    }

    .herosection p {
        font-size: 21px;
    }

    .service-item h3,
    .service-item p,
    .outcomes-item p {
        br {
            display: none;
        }
    }

    .service-item {
        padding: 40px 10px 10px;
        min-height: 380px;

        h3 {
            font-size: 28px;
        }

        img {
            height: 70px;
            margin-bottom: 15px;
        }
    }

    .about-content .soclink {
        width: 45px;
        right: 15px;
    }

    .outcomes-item {
        padding: 30px 15px 15px 15px;
        min-height: 315px;

        img {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        .largetext {
            font-size: 48px;
            margin-bottom: 15px;
        }
    }

    .inputfield input {
        height: 48px;
    }

    .inputfield {
        margin-top: 15px;
    }







    .about-content .description p {
        font-size: 18px;
    }

    .services h2,
    .about h2 {
        margin-bottom: 40px;
    }
}

@media(max-width:1199.8px) {

    .service-item {
        padding: 30px;
        height: 100%;
        min-height: 200px;
    }

    .services {
        .col-md-6 {
            margin-bottom: 24px;
        }
    }

    .about-content__wrapper .arrowimg {
        width: 100px;
        top: -90px;
    }

    .about-content {
        padding: 60px 0 40px 50px;
    }

    .about-content .soclink {
        bottom: initial;
        right: 20px;
        top: 20px;
    }

    .outcomes-item {
        .largetext {
            font-size: 42px;
            margin-bottom: 5px;
        }

        p {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    .outcomes-item {
        min-height: 280px;
    }





    .services,
    .about,
    .outcomes {
        padding-bottom: 80px;
    }


}

@media(max-width:991.8px) {
    .herosection__imgwrap {
        margin-top: 50px;
    }

    .herosection {
        min-height: 800px;
    }

    .about-content__wrapper .arrowimg {
        width: 70px;
        top: -50px;
        left: 70px;
    }

    .about-content {
        padding: 60px 40px;

        .description {
            max-width: calc(100% - 40px);
        }
    }

    .about-content .aboutimg {
        display: none;
    }

    .about-content .soclink {
        bottom: 20px;
        right: 20px;
        top: initial;
    }

    .outcomes-col {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 20px;
    }

    .outcomes-item {
        min-height: initial;
        padding: 30px;
        height: 100%;


        .largetext {
            font-size: 50px;
            margin-bottom: 15px;
        }

        p {
            min-height: initial;
            margin-bottom: 15px;
            font-size: 18px;
        }

        img {
            margin-bottom: 20px;
        }
    }

    .contactus__descr {
        h2 {
            margin-bottom: 40px;
        }
    }

    .contactus__img {
        max-width: 70%;
        margin-bottom: 40px;
    }

    .sm-title {
        display: block;
    }

    .contactus__descr {
        margin-top: 30px;

        h2 {
            display: none;
        }

        img {
            margin: 0 auto;
        }
    }

}

@media(max-width: 767.8px) {
    .service-item {
        height: auto;
    }

    .form-notification {
        min-height: 50px;
        font-size: 16px;
        line-height: 110%;
        border-width: 1px;
    }
}

@media(max-width: 575.8px) {
    .herosection {
        min-height: 530px;
    }

    .about,
    .outcomes,
    .services {
        padding-bottom: 50px;
    }

    .about-content__wrapper .arrowimg {
        left: 20px;
        width: 50px;
        top: -40px;
    }

    .about h2,
    .services h2,
    .outcomes h2 {
        margin-bottom: 30px;
    }

    .about-content {
        padding: 40px 25px 50px;
    }

    .about-content .description h3 {
        font-size: 28px;
    }

    .about-content .description .subtitle {
        margin-bottom: 30px;
    }

    .about-content .description {
        max-width: 100%;
    }

    .about-content .soclink {
        bottom: 15px;
        right: 15px;
        width: 30px;
    }

    .outcomes-col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .contactus__img {
        width: 100%;
        max-width: 330px;
    }

    .contactus__form {
        padding: 20px;
    }

    .inputfield label {
        font-size: 16px;
    }

    .borderbtn {
        min-height: 48px;
        font-size: 18px;
    }

    .contactus {
        padding-bottom: 50px;
    }

    .herobgel {
        display: none;
    }
}